<?xml version="1.0" encoding="UTF-8"?>

<!-- Logback Configuration Template -->
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p %date{yyyy-MM-dd HH:mm:ss} %-50logger{50} | %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.europa.together" level="TRACE" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>