This E-Mail was sending as test from the Application together Infrastructure Platform,
to tryout the SMTP Connection settings.
Your E-Mail address is configured as Administrator, so you will receive important system
messages.

Domain: $domain

Best Regards
E.D. //elmar.dott@gmail.com