<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Package needed to be scanned for annotation for @autowired DI-->
    <context:component-scan base-package="org.europa.together">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Component" />
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Repository" />
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <bean id="mainSchemata" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc.main.url}"/>
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="user" value="${jdbc.main.user}"/>
        <property name="password" value="${jdbc.main.password}"/>
        <!-- 3CPO Connection POOL -->
        <property name="acquireIncrement" value="1"/> <!-- How many Connects try reconnect at same time -->
        <property name="acquireRetryAttempts" value="10"/> <!-- How many retries default=30 -->
        <property name="acquireRetryDelay" value="3000"/> <!-- ms, retry delay default=1000 -->
        <property name="idleConnectionTestPeriod" value="300"/>
        <property name="maxStatements" value="1000"/>
        <property name="initialPoolSize" value="3"/>
        <property name="minPoolSize" value="3"/> <!-- default=3 -->
        <property name="maxPoolSize" value="10"/>
        <property name="maxIdleTimeExcessConnections" value="1800"/> <!-- seconds, idle timeout for > minPoolSize -->
        <!-- in case we want to support redeploy, these can stop memory leaks -->
        <!--property name="contextClassLoaderSource" value="library" -->
        <!--property name="privilegeSpawnedThreads" value="true" -->
    </bean>

    <!-- ENTITY MANAGER for MAIN Database Schemata (JPA Standard) -->
    <bean id="mainEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="defaultPersistenceUnit"/>
        <property name="dataSource" ref="mainSchemata" />
        <property name="packagesToScan">
            <list>
                <value>eu.freeplace.infrastructure.domain</value>
            </list>
        </property>

        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true" />
            </bean>
        </property>

        <!-- https://bitbucket.org/kienerj/moleculedatabaseframework/wiki/Spring%20Context%20Configuration -->
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.jdbc.time_zone">${hibernate.timezone}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect.database}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <!-- prop key="hibernate.id.new_generator_mappings">true</prop -->
                <!--prop key="hibernate.cache.use_second_level_cache">true</prop-->
                <!--prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop-->
                <!--prop key="hibernate.jdbc.batch_size">100</prop-->
            </props>
        </property>
    </bean>

    <!-- TRANSACTION MANAGER -->
    <bean id="mainTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="mainEntityManagerFactory" />
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <tx:annotation-driven transaction-manager="mainTransactionManager"/>
</beans>